.myWorksBlock{
    height: 100vh;
    background-color: rgb(255, 183, 195);
}

.worksContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.worksTitle{
    background-color: rgb(186, 186, 255);
}

.worksList{
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}