.skillsBlock{
    height: 100vh;
    background-color: aquamarine;
}

.skillsContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.title{
    background-color: rgb(186, 186, 255);
}

.skills{
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}